#bottom
#preview
form#captchaModal
  div
    h3 Solve captcha to post
    img
    input.reply-field(placeholder='Enter 6 characters' required pattern='.{6}')
    span
    button.btn Answer
script(src=rev('/.static/chan.js'))