footer
  #footer-inner
    a(href='https://irc.indiachan.com' target='_blank') IRC
    a(href='mailto:contact@indiachan.com') contact@indiachan.com
    a(href='https://gitlab.com/rusty02/indiachan' target='_blank') Source
