@font-face {
  font-family: 'i';
  src:
    url('fonts/i.ttf?jdg36w') format('truetype'),
    url('fonts/i.woff?jdg36w') format('woff'),
    url('fonts/i.svg?jdg36w#i') format('svg');
  font-weight: normal;
  font-style: normal;
}

.i {
  font-family: 'i' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-git:after {
  content: "\e907";
}
.i-lock:after {
  content: "\e900";
}
.i-pin:after {
  content: "\e901";
}
.i-play:after {
  content: "\e902";
}
.i-refresh:after {
  content: "\e903";
}
.i-irc:after {
  content: "\e904";
}
.i-mail:after {
  content: "\e905";
}
.i-mod:after {
  content: "\e906";
}
