extends /base

append body
  main
    h1 Rules
    li You will not upload, post, discuss, request, or link to anything that violates the local law
    li You will not upload any pornographic or violent content
    li You will immediately cease and not continue to access the site if you are under the age of 18
    li You will not post or request personal information ("dox") or calls to invasion ("raids")
    li No spamming or flooding of any kind. No intentionally evading spam or post filters
    li Advertising (all forms) is not welcome—this includes any type of referral linking, "offers", soliciting, begging, stream threads, etc
    li The use of scrapers, bots, or other automated posting or downloading scripts is prohibited
