<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="/.static/css/chan.css" rel="stylesheet">
    <link href="/.static/icons/style.css" rel="stylesheet">
    <link rel="manifest" href="/.static/manifest.json">
    <link href="/.static/favicon.png" rel="icon">
  </head>
  <body id="page-catalog">
    <nav>
      <div class="nav-block"><span><a href="/">Home</a></span><span>
          <select id="selectTheme">
            <option value="yotsuba">4plebs</option>
            <option value="simplechan">Simplechan</option>
            <option value="penumbra">Penumbra</option>
          </select></span></div>
      <div class="nav-block"><span><a href="/a">a</a></span><span><a href="/b">b</a></span><span><a href="/g">g</a></span><span><a href="/pol">pol</a></span><span><a href="/meta">meta</a></span>
      </div>
    </nav>
    <script src="/.static/js/site.js"></script>
    <main>
      <fieldset id="postingForm">
        <legend>New Thread</legend>
        <form action="/newThread.js" enctype="multipart/form-data" method="post">
          <input id="boardIdentifier" name="boardUri" type="hidden">
          <table>
            <tr>
              <td>Subject</td>
              <td>
                <input class="field block" name="subject" placeholder="Subject (optional)">
              </td>
            </tr>
            <tr>
              <td class="required">Message</td>
              <td>
                <textarea class="field block" name="message" placeholder="Content" required maxlength="4096"></textarea><span class="help"><span id="labelMessageLength"></span> characters remaining</span>
              </td>
            </tr>
            <tr>
              <td>Files</td>
              <td id="divUpload">
                <input class="fileBrowser block" id="files" type="file" name="files" multiple=""><span class="help">Max filesize: <span id='labelMaxFileSize'></span>, Max files: <span id='labelMaxFiles'></span></span><br>
                <input id="checkboxSpoiler" type="checkbox" name="spoiler">
                <label for="checkboxSpoiler">Spoiler</label>
              </td>
            </tr>
          </table>
          <div class="divMore">More</div>
          <div class="formMore">
            <input class="field block" id="divName" placeholder="Name" name="name">
            <input class="field block" name="password" placeholder="Post deletion password">
            <input id="fieldEmail" type="checkbox" name="email" value="sage">
            <label for="fieldEmail">Sage</label>
            <div id="captchaDiv"><img class="captchaImage block" id="captchaImage" src="/captcha.js"><span class="help captchaTimer"></span>
              <button id="reloadCaptchaButton">Reload Captcha</button>
              <input class="block field" id="fieldCaptcha" name="captcha" placeholder="answer">
            </div>
            <div id="flagsDiv">
              <select id="flagCombobox" name="flag"></select>
            </div>
            <div id="noFlagDiv">
              <input class="postingCheckbox" id="checkboxNoFlag" type="checkbox" name="noFlag">
              <label for="checkboxNoFlag">No Flag</label>
            </div>
          </div>
          <button class="btn" id="formButton" type="submit">Post</button>
        </form>
      </fieldset>
      <p id="catalogId"><span class="title">Catalog of <a id='labelBoard' href='.'></a></span></p>
      <div class="hidden" id="divTools"><span class="catalogLabel">Search :</span>
        <input id="catalogSearchField" type="text">
        <button class="catalogLabel" id="catalogRefreshButton" onclick="refreshCatalog(true)">Refresh</button>
        <input id="autoCatalogRefreshCheckBox" type="checkbox" onchange="changeCatalogRefresh()"><span class="catalogLabel" id="catalogRefreshLabel">Auto</span>
      </div>
      <div class="catalogDiv" id="divThreads"></div>
    </main>
    <footer>
      <hr><a href="mailto:contact@indiachan.com">
        <div class="i i-mail"></div>contact@indiachan.com</a><a href="https://irc.indiachan.com" target="_blank">
        <div class="i i-irc"></div>IRC</a><a href="https://gitlab.com/rusty02/indiachan" target="_blank">
        <div class="i i-git"></div>Source</a>
    </footer>
    <form id="captchaModal">
      <div><img>
        <input class="field block" placeholder="Enter 6 characters" required pattern=".{6}"><span></span>
        <button class="btn">Answer</button>
      </div>
    </form>
  </body>
  <div id="floatingMenu"></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0-beta.1/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/3.0.2/timeago.min.js"></script>
  <script src="/.static/js/chan.js"></script>
</html>