<div class="fixedForm" id="postingForm">
  <div class="formTitle t-c2"><span>Reply</span>
    <div class="formClose t-cl">Hide</div>
  </div>
  <form action="/replyThread.js" enctype="multipart/form-data" method="post">
    <input id="boardIdentifier" name="boardUri" type="hidden">
    <input id="threadIdentifier" name="threadId" type="hidden">
    <input class="field block" name="subject" placeholder="Subject (optional)">
    <textarea class="field block" name="message" placeholder="Message" required="required" maxlength="4096"></textarea><span class="help"><span id="labelMessageLength"></span> characters remaining</span>
    <div id="divUpload">
      <input class="fileBrowser block" id="files" type="file" name="files" multiple=""><span class="help">Max filesize: <span id="labelMaxFileSize"></span>, Max files: <span id="labelMaxFiles"></span></span><br>
      <input id="checkboxSpoiler" type="checkbox" name="spoiler">
      <label for="checkboxSpoiler">Spoiler</label>
    </div>
    <div class="divMore">More</div>
    <div class="formMore">
      <input class="field block" id="divName" placeholder="Name" name="name">
      <input class="field block" name="password" placeholder="Post deletion password">
      <input id="fieldEmail" type="checkbox" name="email" value="sage">
      <label for="fieldEmail">Sage</label>
    </div>
    <button class="btn" id="formButton" type="submit">Reply</button>
  </form>
</div>