@media (max-width: 600px) {
  #mainLinks {
    display: flex;
    height: auto;
    line-height: 1.2;
    white-space: normal;
    float: none;
  }
  .mainLink {
    width: 33.33%;
    margin: 0 2px;
    letter-spacing: 0;
    text-transform: none;
  }
  .fixedForm {
    right: 0;
    left: 0;
    width: 100%;
  }
  .catalogCell {
    flex: 1 0 150px;
  }
  body > main {
    padding: 8px;
  }
  .opCell {
    margin: 8px 0;
    padding-top: 8px;
  }
  .uploadCell {
    margin: 0;
  }
  .innerPost {
    min-width: 0;
    display: block;
  }
  #floatingMenu {
    display: none !important;
  }
  #indexBoards {
    clear: both;
    justify-content: center;
  }
  #siteLogo {
    width: 150px;
    height: 150px;
    margin-right: 10px;
  }
}
