.t-bg {
  background: #d6f0da;
  border-bottom: 1px solid rgba(154,163,159,0.2);
  border-radius: 2px;
}
.t-bgt {
  background: rgba(0,0,0,0.08);
}
.t-c2 {
  color: #34345c;
}
.t-c1 {
  color: #117743;
}
html.theme-yotsubab {
  background: #ffe;
}
html.theme-yotsubab .t-bg {
  background: #f0e0d6;
}
html.theme-yotsubab .innerOP .innerPost {
  background: none;
}
html.theme-yotsubab .postTitle {
  border-bottom: 0;
}
html.theme-yotsubab .panelBacklinks a:after {
  content: none;
}
html.theme-simplechan {
  background: #f0f0f0;
  font-family: arial, helvetica, sans-serif;
  color: #333;
}
html.theme-simplechan footer a {
  color: #333;
}
html.theme-simplechan #siteLogo {
  background-image: url("/.static/leaf.png");
  box-shadow: none;
}
html.theme-simplechan .linkQuote,
html.theme-simplechan .linkEdit {
  background: #fff;
  color: #444;
  padding: 3px 6px;
}
html.theme-simplechan .linkQuote:before,
html.theme-simplechan .linkEdit:before,
html.theme-simplechan .linkQuote:after,
html.theme-simplechan .linkEdit:after {
  content: none;
}
html.theme-simplechan .linkSelf:before {
  content: 'No.';
  font-size: 14px;
  color: #00f;
}
html.theme-simplechan #page-board .innerOP .linkSelf:after {
  content: 'Goto Thread';
  background: #fff;
  color: #444;
  padding: 3px 6px;
  margin: 0 3px 0 6px;
  font-size: 16px;
}
html.theme-simplechan .t-c1 {
  color: #ee4747;
}
html.theme-simplechan .quoteLink,
html.theme-simplechan .panelBacklinks a,
html.theme-simplechan .t-cl,
html.theme-simplechan a,
html.theme-simplechan .mainLink {
  color: #00f;
  font-weight: normal;
}
html.theme-simplechan .t-bg {
  background: #dcdcdc;
  border: 0;
  border-radius: 0;
}
html.theme-simplechan .markedPost {
  border: 1px solid #555;
}
html.theme-simplechan .innerOP .innerPost {
  background: #dcf0dc;
}
html.theme-simplechan .postTitle {
  background: #c8c8c8;
  border: 0;
}
html.theme-penumbra {
  font-family: monospace;
  font-size: 1em;
  background: #1e1e1e;
  color: #eee;
  line-height: 1.5;
}
html.theme-penumbra input[type=checkbox]+label:after {
  color: #eee;
}
html.theme-penumbra .t-bg,
html.theme-penumbra .fixedForm,
html.theme-penumbra code {
  background: #000;
}
html.theme-penumbra .indexBlock a {
  background: rgba(255,255,255,0.1);
}
html.theme-penumbra .indexBlock a > div {
  color: #ddd;
}
html.theme-penumbra .t-bgt,
html.theme-penumbra .field {
  background: rgba(255,255,255,0.1);
}
html.theme-penumbra hr,
html.theme-penumbra fieldset,
html.theme-penumbra .opCell {
  border-color: #444;
}
html.theme-penumbra nav {
  background: #000;
  border-bottom: 1px solid #f00;
}
html.theme-penumbra nav,
html.theme-penumbra a,
html.theme-penumbra .t-cl,
html.theme-penumbra header,
html.theme-penumbra #threadPages a,
html.theme-penumbra .greenText,
html.theme-penumbra .t-c1 {
  color: #ffb300;
}
html.theme-penumbra a:hover {
  color: 0px 0px 5px #f00;
}
html.theme-penumbra .labelSubject,
html.theme-penumbra .quoteLink,
html.theme-penumbra .t-c2 {
  color: #f00;
}
html.theme-penumbra .labelId {
  color: #000;
}
html.theme-penumbra .innerOP .innerPost {
  background: rgba(255,255,255,0.04);
}
html.theme-penumbra .innerOP .innerPost .postTitle {
  border-color: rgba(255,255,255,0.08);
}
html.theme-penumbra .postTitle {
  border-color: rgba(255,255,255,0.16);
}
html.theme-penumbra .postTitle svg {
  fill: #fff;
}
