.innerCell
  .hidden
    .labelImages
    .labelPage
  a.linkThumb
  .threadStats R: <span class='labelReplies'></span>
    span.lockIndicator(title='Locked')
    span.pinIndicator(title='Sticky')
    span.cyclicIndicator(title='Cyclical Thread')
    span.bumpLockIndicator(title='Bumplocked')
  .content
    .labelSubject
    .divMessage